header{
    position: fixed;
    height: 120px;
    width: 100%;
    background:rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;


}

#logo{
    position: relative;
    float:left;
}

#header_p{
    margin-left: 15px;
    color:white;
    float: left;
    font-size: 20px;
    height:120px;
    width: 200px;

}

#logo img{
    float: left;

}
#logo p{
    text-align: center;
}



.header_p1{


    width:100%;
    margin: 0;
    margin-top: 30px;

    border-bottom: 3px solid #333;
}


.header_p2{
    margin: 0;

    width:100%;



}







aside{
    position: fixed;
    right:0;
    z-index:1000;
    width:50px;
    height: auto;

}


aside a.selected{

}

aside a{

}

a{
    text-decoration:none;
    color: black;
}

.home_zoom{

}


.fp-section{
    position: relative;
    box-sizing:border-box;
}

#home,#about,#skill,#demo{
    width: 100%;
    height: 100%;
    position:relative;
    overflow:hidden;
    background:url(../images/bg.jpg) no-repeat center top;
    background-size:100% 100%;
    text-align: center;
}

#home_content,#about_content,#skill_content,#demo_content{
    margin: 0 auto;
    width: 70%;
    height: auto;

}

.home_img{
    text-align: center;
    width: 100%;
    margin: auto;

}


.home_name p{
    display:none;
}



.about_img{

    background-color:white;
}

.about_img img{


    border:5px solid #000000;
}




#about_content {
   position: relative;
    bottom:-120%;
}


.about_info{
    border-radius:20px;
    background-color: #a1a1b4;
    width:100%;
    height:250px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);

}

.info{
    float: left;
    width:25%;
    text-align:center;
    padding-top:20px;

}

.info div{


}

.info_left{
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    text-align: left;
    border-left:4px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-left: 10px;
}
.info_right{
    margin-top: 0;
    width:100px;
    text-align: right;
    margin-left:auto;
    margin-right:auto;
    border-top:2px solid #ffffff;
    border-right:4px solid #ffffff;
    padding-right: 10px;

}
.home_name p{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.about_info{
    font-size: 20px;
    font-weight: bolder;
}

#skill_word,#about_word p{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}




.skill_container,.demo_container{
    width: 100%;
    text-align:center;

}

.skill_container{

    display: none;

}

.skill_html,.skill_css,.skill_javascript,.skill_c-sharp,.demo_one,.demo_two,.demo_three,.demo_four{
    float:left;
    width:25%;

}
.skill_container img{
    border: none;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5);

    margin: 0;
    padding:0;

}

.skill_container img:hover{
    cursor:pointer;
}




.skill_detail{
    text-align:center;
    width:250px;
    height:120px;
    background-color: #c8c8dc;
    border-radius:20px;
    display:none;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px

}

.skill_detail p{

    text-align: left;

    font-size: 15px;

}


.demo_one img{


}


footer{
    position:absolute;
    bottom:0;
    padding-top:10px;
    width: 100%;
    border-top: 2px solid #000000;

}
footer p{
    color:black;
}

