video{

    display: inline-block;
}

.fullscreen-bg{

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.game_video{

    position:absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -100;


}




@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg {
        width: 300%;
        left: -100%;
    }
}

@media (min-width:768px) {
    .inner{
        width: 100%;
        height: 80px;
        z-index: 100;
    }

}


@media (min-width:768px) {
    .affix-top{
        position: absolute;
        left: 0;
        top: 0;
    }

}

@media (min-width: 768px){
    #main-navigetion{
        position: relative;
        top: 0;
    }
}

.unchartedVideo{
    width: 100%;

}

